* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.about-me {
    max-width: 800px;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;

}
.highlight-word {
    font-size: 25px;
        margin-bottom: 20px;
        text-align: left;
        color: #000000;
        font-weight: 600;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: color 0.3s ease;
}

.highlight-word::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 70%;
    bottom: 5px;
    left: 0;
    background: #FCE384;
    z-index: -1;
    transform: skewX(10deg);
    transition: width 0.4s ease;

}

.highlight-word:hover::before {
    width: 100%;
}

.highlight-word:hover {
    color: #5fa0de;
}


.divider {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.divider img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;
}

.divider div {
    flex: 1;
}


@media (max-width: 768px) {
    .about-me {
        margin-top:30px;
    }

    .highlight-word {
        font-size: 30px;
        text-align: center;
        
    }

    .divider {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .divider img {
        width: 200px;
        height: 250px;
    }
}